.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.bgDark {
  background-color: #283042;
  color: #ffffff;
}

.company {
  display: flex;
  flex-direction: column;
}
.biodata {
  margin-bottom: 20px;
}
.logo {
  max-width: 120px;
  margin-bottom: 20px;
}
.logo img {
  width: 100%;
}
.biodata .contact {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .company {
    flex-direction: row;
  }
  .biodata {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .format {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footerBody {
  padding: 18px 0px;
}

.footerBody ul {
  list-style: none;
}

.navigasi {
  font-size: 16px;
  margin-bottom: 20px;
}

.list {
  list-style: none;
  padding-left: 0px;
}
.list li {
  margin-bottom: 6px;
}
.list li a {
  color: #ffffff;
  text-decoration: none;
}
.list li a:hover {
  color: #cf2129;
}

.copyRight {
  border-top: 0.5px solid #dadada42;
  width: 100%;
  padding: 18px 10px;
}
