// Overwrite theme variables
$blue: #007bf7;

body {
  font-family: "Nunito", sans-serif;
}

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Nunito:wght@300;400;600;700;800&display=swap");
