.muted10 {
  color: #869ab8 !important;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mainContainer {
  margin-top: 60px;
}

.main {
  padding: 1.5rem 0.8rem 2rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: 500;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.section {
  padding: 3rem 0 3rem;
}

@media (min-width: 992px) {
  .paddingRight {
    padding-right: 2.5rem !important;
  }
}

/* ======== Icon ======= */
.icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-bottom: 18px;
  background-color: #c5cfdf;
}

/* ======== Feature ======= */
.feature {
  max-width: 980px;
  margin: 0px auto;
  justify-content: center;
  align-items: flex-start;
}
.featureTitle {
  font-size: 18px;
  font-weight: 400;
  color: #161c2d;
  margin-bottom: 0.3rem;
}
.featureBody {
  font-weight: 300;
  color: #869ab8 !important;
  line-height: 1.8;
}
